{% load static %}

<!DOCTYPE html>
<html lang="ru" dir="ltr">
<html prefix="og: http://ogp.me/ns#" prefix="og: http://ogp.me/ns#">

<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="MADHOUSE — студия детейлинга" name="description" />
    <meta content="alexpunder" name="author" />

    <meta property="og:locale" content="ru_RU" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://madhouse-detail.ru" />
    <meta property="og:title" content="MADHOUSE — студия детейлинга" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="{% static "images/dark-logo.png" %}" />

    <title>MADHOUSE — студия детейлинга</title>
    <link rel="icon" href="{% static "images/dark-icon.svg" %}" type="image/gif" sizes="16x16">
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet" type="text/css" id="bootstrap" />
    <link href="{% static "css/plugins.css" %}" rel="stylesheet" type="text/css" />
    <link href="{% static "css/style.css" %}" rel="stylesheet" type="text/css" />
    <style>
        :root {
            --primary-color: #CF1F1F;
            --primary-color-rgb: 207, 31, 31;
        }
    </style>
    <link href="{% static "css/coloring.css" %}" rel="stylesheet" type="text/css" />

    <link rel="dns-prefetch" href="//fonts.googleapis.com">
    <link rel="prefetch" href="https://fonts.gstatic.com/" crossorigin="anonymous">
    <link rel="dns-prefetch" href="https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap">
</head>

<body class="onepage dark-scheme">
    <div id="wrapper">

    {% include "header.html" %}

    {% block content %}
    {% endblock content %}
    
    <a href="" id="back-to-top"></a>
    
    {% include "footer.html" %}

    <script src="{% static "js/plugins.js" %}"></script>
    <script src="{% static "js/designesia.js" %}"></script>
    <script>
    jQuery(document).ready(function() {
        $(function() {
            // jquery typed plugin
            $(".typed").typed({
                stringsElement: $('.typed-strings'),
                typeSpeed: 100,
                backDelay: 500,
                loop: true,
                contentType: 'html', // or text
                // defaults to false for infinite loop
                loopCount: false,
                callback: function() { null; },
                resetCallback: function() { newTyped(); }
            });
        });
    });
    </script>
    <script>
        window.onload = function () {
            const alerts = document.querySelectorAll('.alert');
            alerts.forEach(alert => {
                setTimeout(() => {
                    alert.style.display = 'none';
                }, 5000);
            });
        };
    </script>
</body>

</html>