{% load static %}

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <a href="{% url "main:indexpage" %}">
                    <span class="copy">&copy; MADHOUSE — студия детейлинга, 2020 - 2024</span>
                </a>
            </div>
            <div class="col-md-6">
                <div class="social-icons">
                    <a href="#"><i class="fa fa-vk fa-lg"></i></a>
                    <a href="#"><i class="fa fa-instagram fa-lg"></i></a>
                    <a href="#"><i class="fa fa-telegram fa-lg"></i></a>
                    <a href="#"><i class="fa fa-whatsapp fa-lg"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>